**/.idea/**
!**/.idea/vcs.xml

**/__pycache__/**

**/.DS_Store
**/Thumbs.db

**/.env/
**/.venv/

.gitignore
JWS/result.csv
JWS/.ipynb_checkpoints/titanic_keras-checkpoint.ipynb

**/*.ignore
**/*.ignore.*
**/outputs/**